*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 22px;
}
  
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 800px;
  height: 100vh;
  background-image: linear-gradient(#62cff4 , #2c67f2);
}
header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
.Weather input[type='text']{
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
  margin-top: 20px;
}
.Weather button{
  padding: 10px;
  min-height: 48px;
  font-size: 1rem;
  border-radius: 25px;
  margin-right: 0.25rem;
  outline: none;
  margin-top: 20px;
  background-color: chocolate;
}
ul li{
   list-style-type:  none;
   text-decoration: none;
}
li:nth-child(odd){
  background-color: orange;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;

}
li:nth-child(even){
  background-color:chocolate;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid black;
  
}